{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" placeholder="name" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="salary" placeholder="salary" required>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Add
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Salary</th>
                </tr>
                </thead>
                <tbody>
                {% for employee in entries %}
                <tr>
                    <td>{{ employee.id }}</td>
                    <td><strong>{{ employee.name }}</strong></td>
                    <td>{{ employee.salary }} INR</td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</div>

{% endblock %}





