{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form action="/update/{{ employee.id }}" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" placeholder="name" value="{{ employee.name }}" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="salary" placeholder="salary" value="{{ employee.salary }}" required>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Update
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}





